{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ friends.avatar }}" class="card-img" alt="avatar">
            </div>
            <div class="col-mx-10">
                <div class="card-body">
                    <h5 class="card-title">{{ friends.firstname ~" "~ friends.lastname }} </h5>
                    <p class="card-text">Pseudo : {{ friends.pseudo }} </p>
                    <p class="card-text">Date of Birth : {{ friends.date_of_birth|date("m/d/Y") }} </p>
                    <p class="card-text">Galaxy : {{ friends.galaxy_name }} </p>
                    <p class="card-text">Planet : {{ friends.planet_name }} </p>
                    <p class="card-text">email: {{ friends.email }} </p>
                    <p class="card-text">Description : {{ friends.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}