{% extends 'layout.html.twig' %}

{% block content %}
    {% if comments %}
        <h3>Your Post</h3>
        <div class="">
            <div class="">
                <div class="card col-11 mt-3 mr- bg-light mb-3">
                    <div class="card-body">
                        {% if comments.post_img %}
                            <div class="col-md-8">
                                <img src="{{ comments.post_img }}" class="card-img" alt="picture">
                            </div>
                        {% endif %}
                        <p class="card-text">Title : {{ comments[0].post_title }} </p>
                        <p class="card-text">Content : {{ comments[0].post_content }} </p>
                        <p class="card-text">Likes : {{ comments[0].post_score }}</p>
                    </div>
                </div>
            </div>
        </div>
    {{ else }}
        <div></div>
    {% endif %}
    <h3>Comments</h3>
    <a href="/post/addComment/{{ post.id }}" class="btn-editComment" role="button" aria-pressed="true">  ADD A NEW COMMENT  </a>
    <br/><br/>
    <div class="">
        <div class="">
                {% for comment in comments %}
            <div class="card col-11 mt-3 mr- bg-light mb-3">
                    <div class="card-body">
                        <p class="card-text">Comment #{{ comment.id }} </p>
                        <p class="card-text">User Name: {{ comment.user_firstname }} {{ comment.user_lastname }}</p>
                        <p class="card-text">Date: {{ comment.current_date }} </p>
                        <p class="card-text">Content : {{ comment.content }} </p>
                        <a href="/post/editComment/{{ comment.id }}" class="btn-editComment" role="button" aria-pressed="true">Edit Comment</a>
                        <a href="/post/deleteComment/{{ comment.id }}" class="btn-deleteComment" role="button" aria-pressed="true">Delete Comment</a>
                    </div>
            </div>
                {% else %}
                    <p class="noComment">No comment to display</p>
                {% endfor %}
                <a class="btn-backComment" href="/post/showPosts/{{ session.id }}">Back to Posts</a>
        </div>
    </div>
{% endblock %}