{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Edit post {{ post.title }} </h2>
    <form method="post">
        <input type="hidden" value="{{ post.id }}" name="id">
        {% if post.img %}
            <div class="col-md-3">
                <img src="{{ post.img }}" class="card-img" alt="picture">
            </div>
        {% endif %}
            <div class="form-group col-md-6">
                <label for="img">Image</label>
                <input type="text" class="form-control" id="avatar" value="{{ post.img }}" name="img">
            </div>
            <div class="form-group col-md-6">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" value="{{ post.title }}" name="title">
            </div>
            <div class="form-group col-md-6">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" name="content" rows="5">{{ post.content }}</textarea>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button><img class="fuséeSeeFriend" src="http://assets.stickpng.com/thumbs/58e900c5eb97430e819064d5.png" alt="">
    </form>
{% endblock %}