{% extends 'admin_layout.html.twig' %}

{% block content %}
    <h1>Support Manager</h1>
    <div class="container-fluid">
        <div class="row">
        {% for message in messages %}
        <div class="card col-12 mt-3 mr-2 text-white bg-dark mb-3">
            <div class="card-header">ID: {{ message.id }}</div>
            <div class="card-body">
                <h5 class="card-title">Subject: {{ message.subject }}</h5>
                <p class="card-text">Message: {{ message.message }}</p>
                <p class="card-text">Email: {{ message.email }}</p>
                <a href="/Admin/deleteMessage/{{ message.id }}" class="btn btn-primary">Mark as Read and Delete</a>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}