<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstname">Firstname *</label>
            <input type="text" class="form-control" id="firstname" placeholder="firstname" name="firstname">
        </div>
        <div class="form-group col-md-6">
            <label for="pseudo">Pseudo *</label>
            <input type="text" class="form-control" id="pseudo" placeholder="pseudo" name="pseudo">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Lastname *</label>
            <input type="text" class="form-control" id="lastname" placeholder="lastname" name="lastname">
        </div>
        <div class="form-group col-md-6">
            <label for="galaxy">Galaxy *</label>
            <select id="galaxy" class="form-control" name="galaxy">
                <option selected></option>
                {% for galaxy in galaxys %}
                    <option value="{{ galaxy.id }}">{{ galaxy.galaxy_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Email (ID) *</label>
            <input type="email" class="form-control" id="email" placeholder="email" name="email">
        </div>
        <div class="form-group col-md-6">
            <label for="planet">Planet *</label>
            <select id="planet" class="form-control" name="planet_id">
                <option selected></option>
                {% for planet in planets %}
                    <option value="{{ planet.id }}">{{ planet.planet_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="password">Password *</label>
            <input type="password" class="form-control" id="password" placeholder="password" name="password">
        </div>
        <div class="form-group col-md-6">
            <label for="date_of_birth">Date of Birth *</label>
            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" min='0000-01-01' max='9000-12-12'>
        </div>
    </div>
    <div class="container">
        {% if errors %}
            <p><small><code style="color: crimson">{{ errors.form }}</code></small></p>
        {% endif %}
    </div>
    <div class="container">
        <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
</form>